<div class="container">
  <div class="row">
    <div class="col-12">
        <h3>Serviços</h3>
    </div>
    <div class="col-12">
        <form class="form1 clearfix" [formGroup]="servicosForm">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <input class="form-control input" type="text" placeholder="Nome" formControlName="nome"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="select1_wrapper">
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%" formControlName="tempo" >
                    <option value="" disabled selected>Tempo</option>
                    <option value="00:30:00">00:30:00</option>
                    <option value="01:00:00">01:00:00</option>
                    <option value="01:30:00">01:30:00</option>
                    <option value="02:00:00">02:00:00</option>
                    <option value="02:30:00">02:30:00</option>
                    <option value="03:00:00">03:00:00</option>
                    <option value="03:30:00">03:30:00</option>
                    <option value="04:00:00">04:00:00</option>
                    <option value="04:30:00">04:30:00</option>
                    <option value="05:00:00">05:00:00</option>
                    <option value="05:30:00">05:30:00</option>
                    <option value="06:00:00">06:00:00</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <input class="form-control input" type="text" placeholder="Valor" formControlName="valor" mask="0000"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <button class="btn-form1-submit w-100" type="submit" (click)="onSubmit()" [disabled]="!servicosForm.valid" [ngClass]="{'disabled-button': !servicosForm.valid}">Adicionar</button>
            </div>
          </div>
        </form>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-12">
      <div class="d-none d-md-block">
        <table>
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Tempo</th>
                  <th>Valor</th>
                  <th class="text-center">Ações</th>
              </tr>
          </thead>
          <tbody *ngIf="servicos.length > 0">
              <tr *ngFor="let servico of servicos">
                  <td>{{servico.nome}}</td>
                  <td>{{servico.tempo}}</td>
                  <td>{{servico.valor | currency:'BRL'}}</td>
                  <td class="text-center">
                    <i class="fa fa-trash" (click)="deletarServico(servico.guid)"></i>
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="servicos.length === 0">
            <p>Não possui serviços cadastrados!</p>
          </tbody>
        </table>
      </div>
      <div *ngIf="servicos.length > 0" class="d-block d-md-none">
        <div *ngFor="let servico of servicos">
          <div class="card" style="width: auto; background: #b8a38d; margin-bottom: 5px;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between align-items-center">
                {{servico.nome}}
                <i class="fa fa-trash" (click)="deletarServico(servico.guid)"></i>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Valor: {{servico.valor | currency:'BRL'}}</h6>
              <p class="card-text">Tempo: {{servico.tempo}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="servicos.length === 0" class="d-block d-md-none">
        <div class="card pt-1" style="width: auto; background: #b8a38d;">
          <div class="card-body">
            <p class="card-text">Não possui serviços cadastrados!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner [type]="'ball-spin-clockwise'"></ngx-spinner>
