<div class="overlay"></div>
<section class="vh-100 d-flex align-items-center justify-content-center fundoLogin">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-center justify-content-center">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase text-white">Entrar</h2>
              <p class="text-white-50 mb-5">Por favor insira seu telefone e senha!</p>
              <form [formGroup]="loginForm">
                <div class="form-outline form-white mb-4">
                  <input type="text"
                  formControlName="telefone"
                  class="form-control form-control-lg"
                  placeholder="Telefone"/>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password"
                  class="form-control form-control-lg"
                  placeholder="Senha"
                  formControlName="senha"/>
                </div>
              </form>

              <p class="text-white-50 mb-5" style="padding-top: 10px;" *ngIf="loginInvalido">Dados de login incorretos! Tente novamente.</p>

              <button class="btn btn-outline-light btn-lg px-5" (click)="login()">Entrar</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
