.barber-pricing .menu-list .flex .dots {
  width: 40%;
  position: relative;
  margin: 0 20px;
}

.area-barbeiro {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}

