.barber-pricing .menu-list .flex .dots {
  width: 20%;
  position: relative;
  margin: 0 20px;
}

.area-barbeiro {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

label input {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.checkbox-label input {
  margin-right: 10px;
}


