.nav {
  text-align: center;
  padding: 45px;
  top: 0;
  position: fixed;
  z-index: 1;
}

.content {
  flex: 1;
  flex-grow: 1;
  padding-top: 30px;
  margin-top: 90px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #14100c;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
